<!doctype html>
<html lang="en">
<head>
    <title>[title]</title>
    <meta name="keywords" content="[keywords]"/>
    <!--移动设备优先-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--禁用其缩放（zooming）功能-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="/static/jquery/jquery-1.12.4.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/common.css" rel="stylesheet" type="text/css">
</head>
